body {
    font-family: Lato, Helvetica, sans-serif;
}

.btn {
    color: white;
    background-color: rgb(99, 72, 56);
}

#faixa {
    background-color: rgb(219, 203, 170);
}


#redessociais {
    text-align: right;
}

#iconerede {
    color: black;
}

#siga {
    color: black;
}

#endpage {
    background-color: rgb(219, 203, 170);
}

#startbar {
    background-color: rgb(219, 203, 170);
}

#boldlogo {
    color: rgb(99, 72, 56);
}

#endlogo {
    color: white;
}

h4 {
    color: rgb(99, 72, 56);
    font-family: Bogart;
    font-size: xx-large;
}


#parcela {
    color: gray;
    font-size: smaller;
}


#preço {
    font-size: large;
    font-weight: 600;
    }

#titulocard {
    font-family: Bogart;
}

#bgperfil {
    background-color: rgb(219, 203, 170);
    font-weight: 600;
}

#smile {
    color: rgb(99, 72, 56);
}

h5 {
    font-family: Bogart;
}
